html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

/* header styles*/
.banner{
    background-image: url("images/banner/banner3.png");
    height: 808px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
}

.banner-content{
    width: 450px;
    text-align: right;
    margin-right: 150px;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;

    
}

.banner-button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    color: #005FAC;
    background-color: white;
    margin-top: 20px;
}

/* main content styles */
main{
    margin-left: 150px;
    margin-right: 150px;

}

/* section bio styles */
.bio{
    display: flex;
    margin-top: 130px;
}

.bio-image{
    margin-right: 50px;
}

.bio-content{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.bio-content ul {
    list-style: none;
    padding-inline-start: 0;
}
.bio-content ul li:before {
    content: '✓ ';
    color: rgb(54, 201, 54);
    font-weight: bold;
}

/* section plans styles*/
.plans{
    text-align: center;
}
.plan-items-container{
    display: flex;
    justify-content:space-between;
}

/* section advice styles*/
.advice{
    background-image: url("images/watch.png");
    height: 300px;
    width: 100%;
    color: white;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

.advice-gradient{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.advice-content{
    color: white;
    width: 250px;
    margin-left: 100px;
    position:absolute;
}

.advice-button{
    padding: 10px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}

/* bonus section contact styles*/
.contact{
    text-align: center;
    margin-bottom: 100px;
}

.contact-form-container{
    display: flex;
    justify-content: center;
}

.contact form{
    width: 500px;
}

.contact input, .contact textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #005FAC;
    border-radius: 5px;
    color: #005FAC;
    margin: 5px;
}

.contact button{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #005FAC;
    font-weight: bold;
}

/* section footer styles */
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 150px 150px;
}

.footer-info{
    width: 450px;
}

.footer-contact{
    margin-top: 20px;
}

.footer-social-icons{
    display: flex;
    margin-top: 30px;
}

.footer-social-icons img{
    margin-right: 10px;
}

.footer-subscribe{
    width: 250px;
}

.footer-subscribe input{
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-subscribe-button{
    padding: 10px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}